

.aveoscript_journal,
.website_journal{
    font-family:'Courier New', Courier, monospace;
    position: relative;
    height: auto;
    white-space: pre-line;
    width: 700px;
    left: 200px;
    top: 25px;
    border: 5px solid rgb(4, 62, 149);
}

.image01{
    height: 70%;
    width: 70%;
    border: 3px solid cyan;
}

.aveoscript_journal,
.website_journal{
    padding: 20px, 50px;
}