
.logo{
    position: fixed;
    top:0;
    right:0;
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 20px solid hsl(183, 100%, 50%);
      transition: 0.2s ease;
}
.logo:hover{
    transform: scale(1.05);
}

.dropdown_options{
    margin-top: 50px;
    display: none;
    height: 300px;
    width: 75px;
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: aliceblue;
      transition: 0.2s ease;
      
}

.dropdown_options li{
    transition: 0.2s ease;
    text-decoration: none;
    display: block;
}

.logo:hover .dropdown_options{
    display: block;
}





.container{
    position: relative;
    left: 35px;
    display: flex;
    width: 1200px;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 160px; 
    gap: 220px;
}

.container a{
    color: inherit;
    text-decoration: none;
    display: block;
}

.AveoScript,
.Archepatz{
border: 10px solid cyan;
height: 500px;
width: 550px;
text-align: center;
transition: 0.3s ease;
}


.AveoScript:hover{
    transform: scale(1.05);
}

.Archepatz:hover{
    transform: scale(1.05);
}
