
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "SauceTomato";
    src: url("../fonts/SauceTomato.otf") format("truetype");
}


.background {
  position: fixed;
  inset: 0;                
  z-index: -2;

  background-image: url("../resources/background.png");
  background-repeat: repeat-y; 
  background-position: center top;
  background-size: auto 100%;  
}

.currentproject{
  position: fixed;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 300px;
  height: 450px;

  padding: 10px;

  top: 150px;
  right: 350px;

  background-color: white;

  border: 7px solid rgb(80, 194, 255);
  border-radius: 14px;

  box-sizing: border-box;

  z-index: 40;
}

.project-title {
  font-family: "SauceTomato";
  font-size: 1em;
  font-weight: bold;
  color: rgb(24, 68, 118);
  margin-bottom: 10px;
}

.project-image-box {
  display: flex;
  
  width: 100%;

  flex: 1;

  margin-bottom: 10px;

  justify-content: center;
  align-items: center;

  overflow: hidden; 

  background-color: rgb(240, 240, 240);

  border-radius: 10px;
}

.project-image-box img {
  max-width: 100%;
  max-height: 100%;
 
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;

  opacity: 1;

  position: absolute; 
}





.posts{
    position: absolute;
    top: 20%;
    left: 150px;
  
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    width: 450px;

    padding-bottom: 140px;

    font-family: "SauceTomato";

    z-index: 1;
}

.post{
  margin-bottom: 7px;
  padding: 10px;
  border-radius: 20px;

  border: 3.5px solid rgb(100, 234, 255);

  background: white;
}


.post-dateandtime{
    font-size: 0.9em;
   color: rgb(24, 68, 118);
  margin-bottom: 6px;
}

.post-text{
    font-size: 0.6em;
     color: rgb(24, 68, 118);
}


.CyanFrame{
position: fixed;
inset: 10px;
background-image: url("../resources/website_frame.png");
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
pointer-events: none;

z-index: 2;
}

.welcoming_message span {
    display: block;         
    margin: 0.10em 0;        /* spacing proportional to font */
    font-size: clamp(40px, 8vw, 100px);
}

.cursor-light {
  position: fixed;
  pointer-events: none; 
  width: 100px;         
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,200,150,0.4) 0%, rgba(255,200,150,0) 70%);
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 
  background: radial-gradient(circle, rgba(100,200,255,0.4) 0%, rgba(100,200,255,0) 70%);

  z-index: 4; 
}


.MenuOptions{
    position: fixed;
    display: flex;
    right: -20px;

    top: 10%;
    gap: 10px;
    transform: none;
    flex-direction: column;

    z-index: 5;
}

.menuoption{
    display: flex;
    width: 240px;
    height: 45px;
    background-color: #0cc6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    font-family: "SauceTomato";
    text-decoration: none;

    transition: transform 0.8s ease;
}

.menuoption:hover{
    transform: translateX(-20px);
}

.menuoption_home{
    height: 80px;
    width: 130px;
    background-color: #0ca6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    display: flex;


    text-decoration: none;

    transition: transform 0.8s ease;
}
.menuoption_home:hover{
    transform: translateX(-20px);
}

.menuoption_home ion-icon {
    font-size: 60px;              
    color: white;             
    pointer-events: none;    
}




.audio-player {
  position: fixed;
  bottom: 60px;
  left: 20px;

  width: 250px;
  height: 80px;
  background: white;
  border-radius: 30px;

  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;

  z-index: 6;
}

.player-main {
  flex: 1;
}


.progress-bar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: #0cc6ff;
}

.play-btn,
.loop-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}



.Proxitini_Sprite{
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: 170px;
    height: auto;
    aspect-ratio: auto;
    
    pointer-events: none;

    z-index: 6;
}

.Proxitini_Sprite img{
    width: 100%;
    height: auto;

    display: block;
}

.secret_hitbox0{
    position: absolute;

    right: 85px;
    bottom: 65px;
    width: 15px;
    height: 4px;

    pointer-events: auto;
    background: rgba(255, 0, 0, 0);
}


