
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "SauceTomato";
    src: url("../fonts/SauceTomato.otf") format("truetype");
}


.characters-background{
position:fixed;

top: 0px;
left: 0px;

    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
background-image: url("../resources/character_minatures/characterscreen_elements/characters_background_blurred.png");

    animation: drift 5s ease-in-out infinite;

    transition: background-image 0.3s ease-in;

z-index: -3;
}

@keyframes drift {
  0% { background-position: 50% 50%; }
  50% { background-position: 55% 40%; }
  100% { background-position: 50% 50%; }
}


.moving-spotlight{
position: fixed;

top: 0px;
left: 0px;

pointer-events: none;

transition: top 3s linear, left 3s linear ;

z-index: 1;
}

.moving-spotlight img {
    width: 500px; 
    height: auto;

    opacity: 0.7;

    user-select: none;
}




.characters_photo{
  position: relative;
  display: flex;

  background-size: cover;

  width: 770px;
  height: 490px;

  left: 50%;
  transform: translateX(-50%);
  top: 80px;

  background-image: url("../resources/character_minatures/CharactersPhotoBackground_Season1.png");

  z-index: 999999;
}

.characters_photo img {
  position: absolute;

  display: block;

  cursor: pointer;

  height: 160px;
  width: auto;

  transition: transform 0.3s ease;
}

.characters_photo img:hover{
  transform: scale(1.10);
}


.characters_photo a {
  display: block;
  text-decoration: none;
}

.characters_photo img.characters {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}



.avriely{
  right: 110px;
  bottom: 40px;

  width: 900px;
  height: auto;

  
}

.ideshi{
  right: 160px;
  bottom: 202px;

  width: 500px;
  height: auto;

}




.SeasonIndicatorImage{
  position: absolute;

  right: 155px;
  bottom: 145px;

  pointer-events: none;

  margin: 10px;
}




.information_box {
    position: fixed;
    left: 95px;
    top: 190px;
    width: 180px;

    padding: 12px;

    background: rgba(1, 23, 41, 0.9);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);

    justify-content: center;
    align-items: center;


    font-family: "SauceTomato";
    color: #fff;

    display: none;        
    z-index: 999;       
}

.information_box img {
    width: 100%;
    height: auto;
    margin: 10px 0;

    border: 4px solid #84adff;
    border-radius: 25px;
}

.characterimagetitle {
    font-family: "SauceTomato";
    font-weight: bold;
    text-align: center;

    border: 4px solid #84adff;
    border-radius: 15px;
}


.poduszkas_comment {
  position: fixed;

  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "SauceTomato";
  font-size: 14px;
   color: #ffffff;

  background: rgba(1, 23, 41, 0.9);
  padding: 8px 15px;
  border-radius: 10px;

  pointer-events: none;

  display: none;

  z-index: 998;
}



.CyanFrame{
position: fixed;
inset: 10px;
background-image: url("../resources/website_frame.png");
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
pointer-events: none;

z-index: 2;
}

.welcoming_message span {
    display: block;         
    margin: 0.10em 0;        /* spacing proportional to font */
    font-size: clamp(40px, 8vw, 100px);
}

.cursor-light {
  position: fixed;
  pointer-events: none; 
  width: 100px;         
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,200,150,0.4) 0%, rgba(255,200,150,0) 70%);
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 
  background: radial-gradient(circle, rgba(100,200,255,0.4) 0%, rgba(100,200,255,0) 70%);

  z-index: 4; 
}


.MenuOptions{
    position: fixed;
    display: flex;
    right: -20px;

    top: 10%;
    gap: 10px;
    transform: none;
    flex-direction: column;

    z-index: 5;
}

.menuoption{
    display: flex;
    width: 240px;
    height: 45px;
    background-color: #0cc6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    font-family: "SauceTomato";
    text-decoration: none;

    transition: transform 0.8s ease;
}

.menuoption:hover{
    transform: translateX(-20px);
}

.menuoption_home{
    height: 80px;
    width: 130px;
    background-color: #0ca6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    display: flex;


    text-decoration: none;

    transition: transform 0.8s ease;
}
.menuoption_home:hover{
    transform: translateX(-20px);
}

.menuoption_home ion-icon {
    font-size: 60px;              
    color: white;                 
    pointer-events: none;       
}




.audio-player {
  position: fixed;
  bottom: 60px;
  left: 20px;

  width: 250px;
  height: 80px;
  background: white;
  border-radius: 30px;

  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;

  z-index: 6;
}

.player-main {
  flex: 1;
}


.progress-bar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: #0cc6ff;
}

.play-btn,
.loop-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.Proxitini_Sprite{
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: 170px;
    height: auto;
    aspect-ratio: auto;
    
    pointer-events: none;

    z-index: 6;
}

.Proxitini_Sprite img{
    width: 100%;
    height: auto;

    display: block;
}

.secret_hitbox0{
    position: absolute;

    right: 85px;
    bottom: 65px;
    width: 15px;
    height: 4px;

    pointer-events: auto;
    background: rgba(255, 0, 0, 0);
}


