.body,
html{
    height: 100%;
    width: 100%;

    margin: 0px;
}

@font-face {
    font-family: "SauceTomato";
    src: url("../../fonts/SauceTomato.otf") format("truetype");
}


.background{
    position: fixed;
    top: 0;
    left: 0;

    width: 1800px;        
    height: 1800px;

    background-image: url("../../resources/timeline_contents/knot42/timeline_background.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -5;
}

#whiteSceneOverlay{
  position: fixed;

  inset: 0;

  background: white;

 
  pointer-events: none;

  opacity: 1;
  transition: opacity 1.2s ease;

   z-index: 100000000;
}

#musicinroom1{
    position: absolute;

     width: 800px;
    height: 450px;

    border: 2px solid rgb(255, 0, 183);

    z-index: 200;
}

#musicinroom2{
    position: absolute;

    width: 600px;
    height: 300px;

    top: 0px;
    left: 0px;

        border: 5px solid rgb(55, 255, 125);

        z-index: 200;
}

#musicinroom3{
    position: absolute;

    width: 350px;
    height: 230px;

    top: 0px;
    left: 0px;

        border: 2px solid rgb(94, 134, 255);

        z-index: 200;
}

#musicinroom4{
    position: absolute;

    width: 180px;
    height: 100px;

    top: 100px;
    left: 20px;

        border: 2px solid rgb(145, 173, 255);

        z-index: 200;
}


.dialogue-box {
  position: fixed;

  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  width: 520px;
  min-height: 90px;

  background: rgb(31, 42, 71);
  border: 5px solid white;
  border-radius: 15px;

 font-family: "SauceTomato";
  padding: 16px;
  color: white;

  display: none;

  z-index: 900;
}



.dialogue-text {
  margin: 0;
  font-size: 15px;
}

.dialogue-hint {
  position: absolute;
  bottom: 6px;
  right: 12px;
  opacity: 0.6;
  font-size: 12px;
}





.room_container {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 60px auto;

    background-image: url("../../resources/timeline_contents/knot42/room_items/IdeshisRoom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 10px double rgb(111, 241, 255);

    image-rendering: pixelated;
}

.poduszka {
    position: absolute;

    width: 120px;
    height: 120px;

    left: 470px;
    top: 300px;
}

.poduszka img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}



.dialogue-hitbox-detector {
  position: absolute;
  width: 10px;
  height: 10px;

  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  pointer-events: none;

}

.player-collider {
  position: absolute;

  width: 26px;
  height: 18px;

  bottom: 4px;

  left: 50%;
  transform: translateX(-50%);


}


#exitZone{
    position: absolute;
  bottom: 0px;
  right: 180px;
  height: 40px;
  width: 90px;
  border: 3px solid yellow;
}




/*ADDITIONAL BLOCKADES*/
.blockade {
  position: absolute;
}


.blockade_bed {
    width: 240px;
    height: 250px;

    left: 0px;
    top: 200px;


}
.blockade_bed2 {
    width: 20px;
    height: 150px;

    left: 180px;
    top: 300px;

    transform: rotateX(-90);

   
}


.desk1{
    width: 80px;
    height: 55px;

    right: 0px;
    top: 150px;


}



.leftwall{
    width: 20px;
    height: 100px;

    top: 135px;
    left: 0px;


}

.chessboard{
    width: 60px;
    height: 30px;

    top: 235px;
    right: 330px;
    
  
}

/*.openbookonthefloorbybookshelves{
    width: 60px;
    height: 40px;

    top: 135px;
    right: 245px;
    
     background-color: rgba(44, 188, 188, 0.4);
}
*/



/*HITBOXES*/

#Bed-MainFrame{
    position: absolute;

    height: 170px;
    width: 120px;

    top: 185px;
    left: 145px;

   
}

#Bed-Pillows{
    position: absolute;

     height: 100px;
    width: 120px;

    top: 355px;
    left: 165px;

    
}

#Bed-Closet{
      position: absolute;

     height: 100px;
    width: 90px;

    top: 180px;
    left: 55px;

    
}

#Door{
    position: absolute;

     height: 110px;
    width: 72px;

    top: 30px;
    left: 80px;

  
}

#Desk-Shelves{
    position: absolute;

     height: 88px;
    width: 85px;

    bottom: 0;
    right: 25px;

    
}

#Desk-BigOpenBook{
    position: absolute;

     height: 75px;
    width: 80px;

    top: 150px;
    right: 90px;

 
}

#Desk-SmallOpenBook{
    position: absolute;

    height: 43px;
    width: 80px;

    top: 230px;
    right: 70px;

   
}

#Bookshelves-NextToComicHitbox{
    position: absolute;

     height: 110px;
    width: 60px;

    top: 35px;
    left: 320px;

    
}

#Bookshelves-OpenBook{
    position: absolute;

     height: 60px;
    width: 60px;

    top: 120px;
    right: 250px;

  
}

#Bookshelves-Right{
    position: absolute;

      height: 110px;
    width: 40px;

    top: 35px;
    right: 203px;

    
}

#Bookshelves-Left{
position: absolute;

  height: 110px;
    width: 120px;

    top: 35px;
    left: 190px;

    
}

#Box{
    position: absolute;

      height: 50px;
    width: 40px;

    top: 100px;
    right: 160px;

   
}

#Chessboard{
    position: absolute;

      height: 150px;
    width: 160px;

    top: 200px;
    right: 300px;

   
}

#Tools{
    position: absolute;

      height: 50px;
    width: 50px;

    top: 100px;
    right: 105px;

   
}

#OilSpot{
    position: absolute;

     height: 20px;
    width: 25px;

    top: 150px;
    left: 45px;

   
}


/*Important Areas*/
#ComicAREA{
    position: absolute;

    height: 110px;
    width: 75px;

    top: 35px;
    left: 385px;

  
}

#SketchAREA{
    position: absolute;

    height: 120px;
    width: 35px;

    top: 70px;
    left: 0px;

   
}

#FullArtsAREA{
      position: absolute;

    height: 80px;
    width: 75px;

    bottom: 85px;
    right: 20px;

  
}



/*RARE AND IMPORTANT AREAS*/
.proxitini-hitbox{
    position: absolute;

    height: 140px;
    width: 120px;

    top: 150px;
    left: 150px;

    display: none;
}




#proxitini{
 position: absolute;

    display: none;

    left: 100px;
    top: 110px;
}

#proxitini img{
    height: 230px;
    width: auto;

   image-rendering: pixelated;
}


/*GALLERIES AND LIGHTBOXES*/
#imageViewerOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.imageViewer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageViewer img {
    max-width: 800px;
    max-height: 600px;
    image-rendering: auto;
    border: 5px solid white;
    border-radius: 10px;
}

.arrow {
    font-size: 60px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 0 20px;
}










.CyanFrame{
position: fixed;
inset: 10px;
background-image: url("../../resources/website_frame.png");
background-size: 100% 100%;
background-position: center;
background-repeat: no-repeat;
pointer-events: none;

z-index: 2;
}


.bubble{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateX(-50%);

    background-color: rgba(1, 23, 41, 0.9);
    padding: 14px;
    border-radius: 13px;
    border: 7px solid white;

    color: white;
    font-family: "SauceTomato";

    opacity: 0;
    pointer-events: none;
    transform: translate(10px, -50%);
    transition: opacity 0.25s ease, transform 0.25s ease;

    z-index: 27;
}

.bubble::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    border-width: 10px;
    border-style: solid;
    border-color: transparent rgba(20, 30, 45, 0.95) transparent transparent;
}

.bubble-small{
    width: 180px;
}
.bubble-small h1{
    font-family: "SauceTomato";
    color: white;
    margin: 0px;
    font-size: 15px;
}

.bubble-big{
    width: 400px;
}

.bubble-big img,
.bubble-big video{
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;
}

.bubble-big h1{
    font-family: "SauceTomato";
    color: white;
    margin: 0px;
    font-size: 20px;
}



.cursor-light {
  position: fixed;
  pointer-events: none; 
  width: 100px;         
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,200,150,0.4) 0%, rgba(255,200,150,0) 70%);
  transform: translate(-50%, -50%);
  mix-blend-mode: screen; 
  background: radial-gradient(circle, rgba(100,200,255,0.4) 0%, rgba(100,200,255,0) 70%);

  z-index: 999999; 
}


.MenuOptions{
    position: fixed;
    display: flex;
    right: -20px;

    top: 10%;
    gap: 10px;
    transform: none;
    flex-direction: column;

    z-index: 5;
}

.menuoption{
    display: flex;
    width: 240px;
    height: 45px;
    background-color: #0cc6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    font-family: "SauceTomato";
    text-decoration: none;

    transition: transform 0.8s ease;
}

.menuoption:hover{
    transform: translateX(-20px);
}

.menuoption_home{
    height: 80px;
    width: 130px;
    background-color: #0ca6ff;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    display: flex;


    text-decoration: none;

    transition: transform 0.8s ease;
}
.menuoption_home:hover{
    transform: translateX(-20px);
}

.menuoption_home ion-icon {
    font-size: 60px;              /* icon size */
    color: white;                 /* icon color */
    pointer-events: none;         /* hover stays smooth */
}




.audio-player {
  position: fixed;
  bottom: 60px;
  left: 20px;

  width: 250px;
  height: 80px;
  background: white;
  border-radius: 30px;

  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;

  z-index: 6;
}

.player-main {
  flex: 1;
}


.progress-bar {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: #0cc6ff;
}

.play-btn,
.loop-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}



.Proxitini_Sprite{
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: 170px;
    height: auto;
    aspect-ratio: auto;
    
    pointer-events: none;

    z-index: 6;
}

.Proxitini_Sprite img{
    width: 100%;
    height: auto;

    display: block;
}

.secret_hitbox0{
    position: absolute;

    right: 85px;
    bottom: 65px;
    width: 15px;
    height: 4px;

    pointer-events: auto;
    background: rgba(255, 0, 0, 0);
}


